
h1.hero {
    font-size: 6.25rem;
    letter-spacing: -0.78125rem;
    margin-bottom: 1rem;
    text-wrap: balance;
}

p.text-parraf {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.01875rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    max-width: 72ch;
    text-wrap: balance;
}

h2.title {
    font-size: 3rem;
    max-width: 50ch;
    letter-spacing: -0.0375rem;
    font-weight: 700;
    line-height: 1.2;
    text-wrap: balance;
    margin-bottom: 1.5;
}

h3.eyebrow {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.01875rem;
    line-height: 1.3;
    max-width: 72ch;
    margin-bottom: 1.5rem;
}

.card {
    align-items: start;
    display: grid;
    grid-row: span 8;
    grid-template-rows: subgrid;
    grid-gap: 0 0;
    margin: 0 0 1.25rem;
    overflow: hidden;
    padding: 0 2rem;
    text-decoration: none;
    width: 100%;
}

h4.card-title,
.card h4 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -0.015625;
    line-height: 1.5;
    margin-bottom: 0.375rem;
    max-width: 72ch;
}

p.card-parraf,
.card p {
    font-size: 1rem;
    letter-spacing: -0.0125rem;
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 72ch;
}

a.button-link,
a.link {
    background-color: transparent;
    align-items: center;
    border: none;
    box-shadow: 0 0 transparent;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    font-size: 1.125rem;
    font-weight: 600;
    gap: 0.5rem;
    letter-spacing: -0.0140625rem;
    line-height: 1.5;
    max-width: 72ch;
    text-decoration: none;
    transition: all 0.25s ease;
}

footer ul li:first-child {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -0.0140625rem;
    line-height: 1.5;
    margin: 0 0 0.5rem;
    max-width: 72ch;
}

footer ul li:not(:first-child) {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: -0.0109375rem;
    line-height: 1;
    max-width: 72ch;
    text-decoration: initial;
}
